on:
  push:
    tags:
      - '*'
jobs:
  build-and-push:
    name: 1. Build and push docker image
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Show tag name
        run: echo "Tag name -> $GITHUB_REF_NAME"

      - name: Login in DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: iagorml/glpi:${{ github.ref_name }}
